@font-face {
   font-family: 'TH Dan Vi Vek Bold ver 1.03';
   font-display: swap;
   src: url('file:///C:/Users/VThai/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-19_020911/fonts/TH%20Dan%20Vi%20Vek%20Bold%20ver%201.03/font.ttf');
}
