@font-face {
   font-family: 'TF Phethai';
   font-display: swap;
   src: url('file:///C:/Users/VThai/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-19_020911/fonts/TF%20Phethai/font.ttf');
}
